@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../../Examenes%20Medicos/imagenes/wallpaper_2_1440x900.jpg);
	
	}

header 
	{
	width:1000px;
	height:150px;
	color:rgba(255,255,255,1);
	background-color:rgba(0,153,255,0.5);	
	margin-left:200px;		
	border-radius:0px 20px 0px 0px;
	*border-bottom-right-radius:20px;	
	text-align:center;
	}
	
nav
	{
	width: 1000px;
	height: 60px;	
	color:rgba(102,102,102,1);
	background-color: rgba(255,255,255,0.8);
	margin-left:200px;
	margin-top: inherit;
	text-align:center;
		}
		
section 
	{
	width:800px;
	height:700px;
	background: rgba(255,255,255,0.7);
	margin-left:200px;
	margin-top:inherit;
	}		
		
aside 
	{
	width:190px;
	height:300px;
	background:rgba(255,255,255,0.8);
	margin-left: 1010px;	
	margin-top: -300px;
	background-image:

		}		
		
footer{
	width:1000px;
	height:100px;
	background:rgba(0,153,255,0.5);
	margin-left:200px;
	margin-top:inherit;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius:20px;
	text-align:center;
	color:rgba(255,255,255,1);
	}	
	
	nav ul li
{
text-align:right;
display: inline-block;
margin-right:20px;
color:#1d1d1d;
cursor:pointer;
padding:5px;

transition:all 0.3s linear;
-webkit-transition:all 0.3s linear;
-moz-transition:all 0.3s linear;
-o-transition:all 0.3s linear;

}

nav ul li:hover
{
background-color:#fff;
border-radius:5px;
}

nav ul li a
{
text-decoration:none;
}

#tabla1{
	text-align:center;
	}
#tabla2{
	text-align:center;
	}

#ingreso{
	font-size:100%;
	background-color:rgba(0,153,255,0.5);
	font-style: normal/italic/oblique;
	border-radius:1em;
	text-align:center;
	font-weight: bold;
	height:70%;
	width:60%;
	margin-top:inherit;
	color:rgba(255,255,255,1);
	margin-left: 32%;
	border:8px solid #fff;
}

	
	
	
	

