body{
background-color:#E6FBF9;
font-family:"Helvetica", Arial;

}

nav
{
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bolder;
}

h1{
text-align:center;
}

h2{
text-align:center;
}

h3{
text-align:center;}

h5{
font-style:italic;}

header
{
text-align:center;
}

nav ul li
{
text-align:right;
display: inline-block;
margin-right:20px;
color:#FFF;
cursor:pointer;
padding:5px;

transition:all 0.3s linear;
-webkit-transition:all 0.3s linear;
-moz-transition:all 0.3s linear;
-o-transition:all 0.3s linear;
}

nav ul li:hover
{
background-color:#FF9;
border-radius:5px;
}

nav ul li a
{
text-decoration:none;
color:#006;
}


header {
    background:#39F;
    border-radius:0.5em;
    margin: 0.5em auto;
    max-width:1000px;
    padding:0.2em;
    text-align:center; 
	line-height:25px;   
}

nav,footer {
    background:#30C997;
    border-radius:0.5em;
    margin: 0.5em auto;
    max-width:1000px;
    padding:0.2em;
    text-align:center; 
	line-height:25px;   
}
section#contenedor{
    margin:5px auto;
    max-width:1000px;
    padding:5px;;
	height:auto;
	background:#9CF;
  	border-radius:0.5em;;
}
section#principal, aside{
    background:#9CF;
    border-radius:0.5em;
    display: inline-block;
    margin:0.25em auto;
    max-width:1000px;
    min-height:200px;
    padding:5px auto;
    vertical-align:top;
    width:72%;    
	height:auto;
	
}
article{
    background:#9CF;
    border-radius: 0.5em;
    min-height:140px;
   padding:25px;
	text-justify:auto;
	text-align:justify;
		font-family:Verdana, Geneva, sans-serif;
	font-weight:400;
	line-height:25px;
	
}
aside{
    width:25%;
	text-align:left;
	height:auto;
	width:250px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	
	
}



aside ul li
{
	font-weight:bolder;
list-style:none;
text-align:left;
margin-right:20px;
color:#FFF;
cursor:pointer;
padding:10px;

transition:all 0.3s linear;
-webkit-transition:all 0.3s linear;
-moz-transition:all 0.3s linear;
-o-transition:all 0.3s linear;
}

aside ul li:hover
{
background-color:#30C997;
border-radius:5px;
}

aside ul li a
{
text-decoration:none;
color:#006;
}
aside  a
{
text-decoration:none;
text-align:center;
color:#006;
}

